GenerateDatas/
Ignore/
Tools/LubanTools
Tools/Generata Tools/SourceGenerator/SourceGenerator/bin
UnityPackage/*.unitypackage
GameConfig/Tools/LubanTools/

*.vs
*.idea
*.DotSettings
#快捷方式
*.lnk
openspec
*.dotnet


#Generata Tools
*bin
*obj